@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




.sign-form{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: rgb(229 231 235);
  color: rgb(0, 0, 0);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vh;
  height: auto;
}





@layer components{
    .menu-start{
      @apply border-2  rounded-lg  ms-4 text-center py-10 px-20 bg-gray-900 text-white
      
    }
    .input{
      @apply bg-white text-black
    }
    .btn{
      @apply bg-amber-500 text-black border-black border-2
    }
    .main-center{
      @apply flex-1 py-5 px-2 text-start bg-gray-900 text-white
    }
}